/*universal style*/

*{
    box-sizing: border-box;
    Font-size: 15px;
}

body{
    background-color: hsl(0, 0%, 95%);
    margin: 5% 0 ;
}

.capital{
    text-transform: uppercase;
}

.bright-orange{
    background-color:hsl(31, 77%, 52%) ;
    border-top-left-radius: 3%;
    border-bottom-left-radius: 3%;
}

.dark-cyan{
    background-color:hsl(184, 100%, 22%) ;
}

.very-dark-cyan{
    background-color:hsl(179, 100%, 13%) ;
    border-top-right-radius: 3%;
    border-bottom-right-radius: 3%;
}

/*main style */
main {
    height: 100%;
    display : flex;
    justify-content: center;
}

/*cards style*/
.cards {
    padding: 1.5rem;
    height: 100%;
    width: 25%;
}

figure{
    padding: 0;
    margin: 0;
    height: 10%;
}

section{
    height: 65%;
}

h1{
    font-family: 'Big Shoulders Display', cursive;
    font-size: 3rem;
    font-weight: 700;
    color:hsl(0, 0%, 95%) ;
}

p{
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.5;
    width: 85%;  
}


button{
    background-color:hsl(0, 0%, 95%) ;
    border: none;
    height: 38px;
    width: 130px;
    border-radius: 25px;
    font-family: 'Lexend Deca', sans-serif;
 }
 
 button:hover{
     background-color: transparent;
     border: 1.5px solid hsl(0, 0%, 95%);
     cursor: pointer;
     color: hsl(0, 0%, 95%) !important;   
 }
 
 

@media screen and (max-width:1111px ) {
  
    .cards {
        width: 32%;
    }

    section{
        height: 70%;
    }
}

  
@media screen and (max-width:700px) {
  
    main {
        flex-wrap: wrap;
    }

    .cards {
        width: 85%;  
    }

    .bright-orange{
       
        border-top-right-radius: 3%;
        border-bottom-left-radius: 0;
    }

    .very-dark-cyan{
        border-top-right-radius: 0;
        border-bottom-right-radius: 3%;
        border-bottom-left-radius: 3%;
    }

    p{
        width: 80%;
    }

    .cards {
        height: 85%;
    }

}

@media screen and (max-height:500px) {
  
   section{
       width: 90%;
   }


button{
   display: none;
}

p{
    width: 100%;
}

h1{
    padding-bottom: 0;
    margin-bottom: 0;
}

}
 

