/*universal style*/

*{
    box-sizing: border-box;
    
    margin: 0;
    padding: 0;
}

body{
    Font-size: 15px;
    background-color: hsl(0, 0%, 95%);
}

.capital{
    text-transform: uppercase;
}

.bright-orange{
    background-color:hsl(31, 77%, 52%) ;
    border-top-left-radius: 3%;
    border-bottom-left-radius: 3%;
}

.dark-cyan{
    background-color:hsl(184, 100%, 22%) ;
}

.very-dark-cyan{
    background-color:hsl(179, 100%, 13%) ;
    border-top-right-radius: 3%;
    border-bottom-right-radius: 3%;
}

/*main style */

.container { 
    max-width: 1440px;
	max-height: 75%;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin:  auto ;
    display : flex;
    justify-content: center;

}
main {
 
    display : flex;
    justify-content: center;
    max-width: 80%;
	height: 100%;
    
}

/*cards style*/
.cards {
    padding: 1.5rem;
    height: 100%;
    width: 33%;
}

figure{
    padding: 0;
    margin: 5% 0;
    height: 10%;
}

section{
    height: 66%;
    margin-top: 9%;
}

h1{
    font-family: 'Big Shoulders Display', cursive;
    font-size: 3rem;
    font-weight: 700;
    color:hsl(0, 0%, 95%) ;
}

p{
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.7;
    width: 85%; 
    margin-top: 7%; 
}


button{
    background-color:hsl(0, 0%, 95%) ;
    border: none;
    height: 38px;
    width: 130px;
    border-radius: 25px;
    font-family: 'Lexend Deca', sans-serif;
}
 
 button:hover{
     background-color: transparent;
     border: 1.5px solid hsl(0, 0%, 95%);
     cursor: pointer;
     color: hsl(0, 0%, 95%) !important;   
}
 


@media screen and (max-width:1000px) , (max-height:500px) {

    .container { 
        
        position: relative;
        padding: 2rem 0;
    }

    main {
        flex-wrap: wrap;
    }

    
    h1{
        font-size: 2.5rem;
    }
    
    p{
        width: 95%; 
        margin-bottom: 7%;

    }

    .cards {
        width: 100%;  
      
    }

    .bright-orange{
        border-top-right-radius: 3%;
        border-bottom-left-radius: 0;
    }

    .very-dark-cyan{
        border-top-right-radius: 0;
        border-bottom-right-radius: 3%;
        border-bottom-left-radius: 3%;
    }


  


}
/*
@media screen and (max-height:400px) {
  
    .cards{
        height: 80%;
    }


    button{
        display: none;
    }

    p{
        width: 100%;
    }

  
}
 
@media screen and (max-height:300px) {

    .cards{
       height: 40%; 
    }
    p{
    display: none;
    }
 }
  
 
 

*/